html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 1.45;
  color: #333;
}
#header2 {
	background: #47494d;
}
div {
	display: block;
}
.full-front {
  overflow-x: hidden;
}
.full-front h1 {
  color: #555;
  font-size: 5em;
  font-weight: 100;
  margin: 0;
  padding-top: 70px;
  line-height: 80px;
}
.full-front h1, .full-front h2, .full-front h3, .full-front h4, .full-front a.button {
  font-family: Pressura;
}
.full-front>div {
  padding: 3em 0;
  text-align: center;
  color: #555;
}
.full-front div.background {
  margin-top: 0px;
  height: 472px;
  background-image: url(hexdots.jpg);
  background-size: 100% 472px;
  background-position: center;
}
h1 {
  color: #188ebf;
  font-size: 2em;
  line-height: 1.2;
  padding-bottom: 0;
  margin-bottom: 1em;
  clear: both;
  font-family: 'Pressura', 'Georgia,sans-serif';
  font-weight: bold;
  font-weight: normal;
  display: block;
}
h1, h2, h3, h4, h5, h6, dd, dt {
  margin: 0;
  padding: 0;
}
.full-front a {
  color: #466c86;
}
.full-front h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 1em auto;
}
.full-front h2 a {
  white-space: nowrap;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.full-front h1, .full-front h2, .full-front h3, .full-front h4, .full-front a.button {
  font-family: Pressura;
}
h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.full-front a.button {
  display: inline-block;
  font-size: 2em;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 40px;
  padding: 5px 20px 10px 20px;
  color: #555;
  border-color: #555;
}

.file{
  visibility:hidden;
  position:absolute;
}

#footer {
    border-top: 1px solid #DDD;
    background-color: #FFF;
    min-width: 980px;
}
#footer #footer-inside {
    margin: 2em auto;
    height: 2em;
    width: 940px;
    position: relative;
}
#footer #footer-inside #footer-social {
    height: 2em;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 0.5em;
}
#footer #footer-inside #footer-social a.twitter {
    background-position: -72px -120px;
}
#footer #footer-inside #footer-social a {
    background-image: url("https://www.kaggle.com/content/v/f2d0a96e2884/shared/img/sprites/base-sprites.png");
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    opacity: 0.7;
}
#footer #footer-inside #footer-social a.facebook {
    background-position: -72px -40px;
}
#footer #footer-inside #footer-social a {
    background-image: url("https://www.kaggle.com/content/v/f2d0a96e2884/shared/img/sprites/base-sprites.png");
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    opacity: 0.7;
}
#footer #footer-inside #footer-copyright {
    line-height: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 0.5em;
    font-size: 0.875em;
    color: #C4C9CD;
}
#footer-copyright {
    color: #777;
}
.full-front .inclass {
    height: 320px;
    background-color: #e2e8eb;
}
.full-front .inclass .inner {
    position: relative;
    width: 1300px;
    left: 50%;
    margin-left: -650px;
    margin-top: -48px;
    height: 320px;
}
.full-front > div {
    text-align: center;
    color: #555;
}
.full-front .inclass .inner .main {
    width: 500px;
}
.full-front .inclass .inner div {
    display: inline-block;
    height: 416px;
    vertical-align: top;
}
.full-front .inclass .inner h3 {
    padding-top: 46px;
}
.full-front h3 {
    font-size: 2.5em;
    margin-bottom: 0px;
}
.full-front .inclass .inner .logos.left {
    margin-right: 50px;
}
.full-front .inclass .inner .logos {
    width: 150px;
    background: transparent url("logo.png") no-repeat;
}
.full-front .inclass .inner .logos.right {
    margin-left: 50px;
    background-position: -146px 34px;
}

a.lightLink:link, a.lightLink:visited {
	color:#466c86;
	cursor: pointer;
    text-decoration: none;
}

a.lightLink:hover, a.lightLink:active{
	color:#466c86;
	cursor: pointer;
    text-decoration: none;
	background-color:#DCDCDC;
}

a.selectedLink:link, a.selectedLink:visited {
	color:#e51843;
    text-decoration: none;
	font-size:130%;
	cursor: pointer;
}

a.selectedLink:hover, a.selectedLink:active {
	color:#e51843;
    text-decoration: none;
	cursor: pointer;
	font-size:130%;
}

.alert-danger {
  background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
  background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
  background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.title {
  width: 100%;
  font-family: 'Dosis',sans-serif;
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: #666;
  border: 0px solid #000;
  font-weight: normal;
}

.statBorder {
	margin-left:14% ;
	margin-right:14% ;
	border-width:1px;
	border-color:#ccc;
	border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	
}
